<%= form_with model: [@job, @part], id: :part_form, local: true do |form| %>
  <% if @part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label 'Part Number:' %>
    <%= form.text_field :partNum, id: :part_partNum %>

    <%= form.label 'Description:' %>
    <%= form.text_area :description, id: :part_description %>

    <%= form.label 'Quantity Per Pump:' %>
    <%= form.number_field :quantity, id: :part_quantity %>

    <%= form.label 'Total Quantity:' %>
    <%= form.number_field :totalQuantity, id: :part_totalQuantity %>

    <%= form.label 'Work Order Required?' %>
    <%= form.text_field :workOrder, id: :part_workOrder %>

    <% content_for :local_menu do %>
        <%= link_to  job_path(@job) do %>
            <li class="local-nav-tab">Finish Part</li>
        <% end %>
        <%= link_to job_part_path(@job, part), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <li class="local-nav-tab">Cancel Part</li>
        <% end %>
        <%= link_to '', onclick:"$('#part_form').submit()" do %>
            <li class="local-nav-tab">Update Part</li>
        <% end %>
    <% end %>
<% end %>
