<%= form_with(urtl: new_job_part_path) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :partNum %>
    <%= form.text_field :partNum, id: :part_partNum %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :part_description %>
  </div>

  <div class="field">
    <%= form.label :quanitity %>
    <%= form.number_field :quanitity, id: :part_quanitity %>
  </div>

  <div class="field">
    <%= form.label :totalQuantity %>
    <%= form.number_field :totalQuantity, id: :part_totalQuantity %>
  </div>

  <div class="field">
    <%= form.label :workOrder %>
    <%= form.text_field :workOrder, id: :part_workOrder %>
  </div>

  <div class="field">
    <%= form.label :finish %>
    <%= form.check_box :finish, id: :part_finish %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
