<%= form_with(model: job, id: :job_form, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= form.label 'Job Number' %>
    <%= form.number_field :jobNum, id: :job_jobNum %>


    <%= form.label 'Purchase Date' %>
    <%= form.date_field :poDate, id: :job_poDate, data:{provide:'datepicker'} %>

    <%= form.label 'Due Date' %>
    <%= form.date_field :dueDate, id: :job_dueDate, data:{provide: 'datepicker'} %>

    <%= form.label 'Type of Job' %>
    <%= form.select :work_type, options_for_select([['Horizontal Pump'], ['Vertical Pump'], ['Motor'], ['Repair'], ['Replacement Parts']]), include_blank: true, id: :job_type %>

    <%= form.label 'Customer' %>
    <%= form.text_field :customer, id: :job_customer %>

    <%= form.label 'Description' %>
    <%= form.text_area :description, id: :job_description %>

    <%= form.label 'Need BOM?' %>
    <%= form.check_box :needBom, id: :job_needBom %>

    <%= form.label 'Is the BOM done?' %>
    <%= form.check_box :bomDone, id: :job_bomDone %>

    <%= form.label 'What is the current Status?' %>
    <%= form.select :status, options_for_select([['Engineering'],['Production'],['Finished'],['Shipped']]) %>

    <%= form.label 'What is the current Progress?' %>
    <%= form.text_area :progress, id: :job_progress %>

    <%= form.label 'Priority' %>
    <%= form.number_field :priority, id: :job_priority %>
<% end %>
