<% @jobs.each do |job| %>
    <div class="job-block">
      <div id="job_<%= job.id %>" class="<%= job.priority.odd? ? 'odd' : 'even' %> row"  data-update-url="<%= job.id %>">
        <div class="data"><%= job.jobNum %></div>
        <div class="data"><%= job.poDate.try(:strftime,'%b %d, %Y') %></div>
        <div class="data"><%= job.customer %></div>
        <div class="data"><%= job.description %></div>
        <% if job.needBom? %>
            <div class="data">Yes</div>
        <% else %>
            <div class="data">No</div>
        <% end %>
        <% if job.bomDone? %>
            <div class="data">Yes</div>
        <% else %>
            <div class="data">No</div>
        <% end %>
        <div class="data"><%= job.status %></div>
        <div class="data"><%= job.progress %></div>

        <% if job.finished? %>
            <div class="data">N/A</div>
        <% else %>
            <div class="data"><%= job.priority %></div>
        <% end %>

        <% if job.finished? %>
            <div class="data"><%= link_to 'Activate', activate_job_path(job, @job), class:'finish-btn', method: 'put', remote: true %></div>
        <% else %>
            <div class="data"><%= link_to 'Finish', finish_job_path(job, @job), class:'finish-btn', method: 'put', remote: true %></div>
        <% end %>

        <div class="data"><%= link_to 'Edit', edit_job_path(job), class: 'edit-btn' %></div>
        <div class="data"><%= link_to 'Cancel', job, method: :delete, data: { confirm: 'Are you sure?' }, class:'delete-btn' %></div>
      </div>
      <div class="parts-block parts-header">
        <div class="dataColumn">Item Number</div>
        <div class="dataColumn">Part Number</div>
        <div class="dataColumn hidden">Customer</div>
        <div class="dataColumn">Description</div>
        <div class="dataColumn">Quantity/Pump</div>
        <div class="dataColumn">Total Quantity</div>
        <div class="dataColumn">Work Order?</div>
        <div class="dataColumn hidden">Progress</div>
        <div class="dataColumn hidden">Priority</div>
        <div class="dataColumn">Finished?</div>
        <div class="dataColumn hidden">Edit</div>
        <div class="dataColumn hidden">Cancel</div>
      </div>
      <% job.parts.each do |part| %>
          <div class="parts-block <%= part.item_num.odd? ? 'odd-part' : 'even-part' %>">
            <div class="data"><%= part.item_num %></div>
            <div class="data"><%= part.partNum %></div>
            <div class="data hidden">Customer</div>
            <div class="data"><%= part.description %></div>
            <div class="data"><%= part.quantity %></div>
            <div class="data"><%= part.totalQuantity %></div>
            <div class="data"><%= part.workOrder %></div>
            <div class="data hidden">Progress</div>
            <div class="data hidden">Priority</div>
            <% if part.finished? %>
                <div class="data">Yes</div>
            <% else %>
                <div class="data"><%= link_to 'Finish', jobs_path, class:'finish-btn' %></div>
            <% end %>
            <div class="data"><%= link_to 'Edit', edit_job_part_path(job, part), class: 'edit-btn' %></div>
            <div class="data hidden">Cancel</div>
          </div>
      <% end %>

    </div>


<% end %>
