<% content_for :local_menu do %>
    <%= link_to  jobs_path do %>
        <li class="local-nav-tab">Finish Job</li>
    <% end %>
    <%= link_to @job, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <li class="local-nav-tab">Cancel Job</li>
    <% end %>
    <%= link_to '', onclick:"$('#job_form').submit()" do %>
        <li class="local-nav-tab">Save Job</li>
    <% end %>
    <%= link_to  new_job_part_path(@job) do %>
        <li class="local-nav-tab">New Part</li>
    <% end %>
    <%= link_to jobs_path, finished: false do %>
        <li class="local-nav-tab">Return to Jobs</li>
    <% end %>
<% end %>

<h1>Editing Job</h1>

<div class="form-grid">
  <%= render 'form', job: @job %>
</div>
<br />
<br />
<br />

<% if @job.pumps.exists? %>
  <h2>Pumps:</h2>
  <div class="table">
    <div class="tableRows">
      <%= render partial: 'pumps/index', locals: {job: @job} %>
    </div>
  </div>
<% else %>
<% end %>

<% if @job.parts.exists? %>

  <h2>Parts:</h2>
  <div class="table">
    <div class="tableRows">
      <%= render partial: 'parts/index', locals: {job: @job} %>
    </div>
  </div>
<% else %>
<% end %>
