<body>
  <p id="notice"><%= notice %></p>

  <h1><%= image_tag 'rentzelpumpclean_0'%></h1>
  <h2>Current Open Jobs</h2>

  <div class="jobTable">
    <div class="tableHeader">
      <div class="dataColumn">Job Number</div>
      <div class="dataColumn">P.O. Date</div>
      <div class="dataColumn">Customer</div>
      <div class="dataColumn">Description</div>
      <div class="dataColumn">Need BOM</div>
      <div class="dataColumn">BOM done?</div>
      <div class="dataColumn">Status</div>
      <div class="dataColumn">Progress</div>
      <div class="dataColumn">Priority</div>
      <div class="dataColumn"></div>
      <div class="dataColumn"></div>
      <div class="dataColumn"></div>
    </div>

    <% @jobs.each do |job| %>
      <div class="tableRows">
        <div class="<%= cycle('odd','even') %>">
          <div class="data"><%= job.jobNum %></div>
          <div class="data"><%= job.poDate %></div>
          <div class="data"><%= job.customer %></div>
          <div class="data"><%= job.description %></div>
          <% if job.needBom? %>
              <div class="data">Yes</div>
          <% else %>
              <div class="data">No</div>
          <% end %>
          <% if job.bomDone? %>
              <div class="data">Yes</div>
          <% else %>
              <div class="data">No</div>
          <% end %>
          <div class="data"><%= job.status %></div>
          <div class="data"><%= job.progress %></div>
          <div class="data"><%= job.priority %></div>
          <div class="data"><%= link_to 'Show', job %></div>
          <div class="data"><%= link_to 'Edit', edit_job_path(job) %></div>
          <div class="data"><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      </div>
    <% end %>
  </div>

  <br>

  <%= link_to 'New Job', new_job_path %>
</body>