<% content_for :local_menu do %>
    <%= link_to  jobs_path do %>
        <li class="local-nav-tab">Universal Parts</li>
    <% end %>
    <%= link_to jobs_path(finished: true) do %>
        <li class="local-nav-tab">Finished Jobs</li>
    <% end %>
    <%= link_to  reports_path do %>
        <li class="local-nav-tab">New Job Report</li>
    <% end %>
    <%= link_to  new_job_path do %>
        <li class="local-nav-tab">New Job</li>
    <% end %>
<% end %>

<p id="notice"><%= notice %></p>

  <div class="table">
    <div id="sticky-anchor">
      <div id="sticky" class="tableHeader">
        <div class="dataColumn">Job Number</div>
        <div class="dataColumn">P.O. Date</div>
        <div class="dataColumn">Due Date</div>
        <div class="dataColumn">Customer</div>
        <div class="dataColumn">Description</div>
        <div class="dataColumn">Need BOM</div>
        <div class="dataColumn">BOM done?</div>
        <div class="dataColumn">Status</div>
        <div class="dataColumn">Progress</div>
        <div class="dataColumn">Priority</div>
        <div class="dataColumn hidden btn-header">Finished</div>
        <div class="dataColumn hidden btn-header">Edit</div>
        <div class="dataColumn hidden btn-header">Cancel</div>
      </div>
    </div>

    <div class="tableHeader">
      <div class="dataColumn">Job Number</div>
      <div class="dataColumn">P.O. Date</div>
      <div class="dataColumn">Due Date</div>
      <div class="dataColumn">Customer</div>
      <div class="dataColumn">Description</div>
      <div class="dataColumn">Need BOM</div>
      <div class="dataColumn">BOM done?</div>
      <div class="dataColumn">Status</div>
      <div class="dataColumn">Progress</div>
      <div class="dataColumn">Priority</div>
      <div class="dataColumn hidden">Finished</div>
      <div class="dataColumn hidden btn-header">Edit</div>
      <div class="dataColumn hidden btn-header">Cancel</div>
    </div>

    <div id="sortable" class="tableRows">
      <%= render 'index', locals: {jobs: @jobs} %>
    </div>
  </div>
  <br />