<h1>Please select a report:</h1>

<%= link_to  reports_active_jobs_path(format: 'pdf') do %>
    <div class="list-buttons">Active Jobs Report</div>
<% end %>
<br />
<%= link_to  reports_finished_jobs_path(format: 'pdf') do %>
    <div class="list-buttons">Finished Jobs Report</div>
<% end %>
<br />

<div id="job-sum-block" class="job-report-block">
  <div id="job_sum" class="job-input list-buttons">
    Individual Job Summary
  </div>
  <div class="job-input-form odd">
    <%= select_tag 'Job Report', options_from_collection_for_select(@jobs, 'jobNum', 'jobNum') %>
    <%= link_to 'Generate Report', job_report_path(jobNum: ' ', format: 'pdf'), class: 'finish-btn report', id: 'report-link' %>
  </div>
</div>
<br />

<div id="job-bom-block" class="job-report-block">
  <div id="job_bom" class="job-input list-buttons">
    Bill of Materials for Specific Job
  </div>
  <div class="job-input-form odd">
    <%= select_tag 'Job BOM', options_from_collection_for_select(@jobs, 'jobNum', 'jobNum') %>
    <%= link_to 'BOM Report', job_bom_path(jobNum: ' ', format: 'pdf'), class:'finish-btn report', id: 'bom-link' %>
  </div>
</div>
<br />