<h1>Please select a report:</h1>

<%= link_to  reports_active_jobs_path(format: 'pdf') do %>
    <div class="list-buttons">Active Jobs Report</div>
<% end %>
<br />
<%= link_to  reports_finished_jobs_path(format: 'pdf') do %>
    <div class="list-buttons">Finished Jobs Report</div>
<% end %>
<br />

<div id="job-sum-block" class="job-report-block">
  <div id="job_sum" class="job-input list-buttons">
    Individual Job Summary
  </div>
  <div class="job-input-form odd">
    <% jobNum_array = @jobs.map {|job| ["#{job.jobNum}"]} %>
    <%= select_tag(:job_jobNum, options_for_select(jobNum_array)) %>
    <%= link_to 'Report', job_summary_report_path_path(@job, format: 'pdf'), class: 'finish-btn report', id: 'report-link' %>
  </div>
</div>
<br />
<div id="job-bom-block" class="job-report-block">
  <div id="job_bom" class="job-input list-buttons">
    Bill of Materials for Specific Job
  </div>
  <div class="job-input-form odd">
    <% jobNum_array = Job.all.map {|job| [job.jobNum]} %>
    <%= select(:job, :jobNum, options_for_select(jobNum_array)) %>
    <%= link_to 'Report', reports_Bill_of_Materials_path(format: 'pdf'), class:'finish-btn report', id:'bill_of_materials' %>
  </div>
</div>
<br />