<p id="notice"><%= notice %></p>

<h1>Pumps</h1>

<table>
  <thead>
    <tr>
      <th>Product type</th>
      <th>Stages</th>
      <th>Flowrate</th>
      <th>Dev head</th>
      <th>Assembly</th>
      <th>Restrictions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pumps.each do |pump| %>
      <tr>
        <td><%= pump.product_type %></td>
        <td><%= pump.stages %></td>
        <td><%= pump.flowrate %></td>
        <td><%= pump.dev_head %></td>
        <td><%= pump.assembly %></td>
        <td><%= pump.restrictions %></td>
        <td><%= link_to 'Show', pump %></td>
        <td><%= link_to 'Edit', edit_pump_path(pump) %></td>
        <td><%= link_to 'Destroy', pump, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pump', new_pump_path %>
