<!DOCTYPE html>
<html>
  <head>
    <title>JobSchedule</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jobs' %>
  </head>

  <body>
  <ul class="nav-bar">
    <%= link_to  jobs_path(finished: 'false') do %>
        <li class="nav-tab">Active Jobs</li>
    <% end %>
    <%= link_to  jobs_path do %>
        <li class="nav-tab">Available Reports</li>
    <% end %>
    <%= link_to  jobs_path do %>
        <li class="nav-tab">Locations</li>
    <% end %>

    <%= yield(:local_menu) %>
  </ul>
  <br />
  <br />
  <br />
  <h1><%= image_tag 'rentzelpumpclean_0'%></h1>

  <% if params[:finished] == 'true' %>
      <h2>Finished Jobs</h2>
  <% else %>
      <h2>Current Jobs</h2>
  <% end %>

  <div>
    <%= yield %>
  </div>

  </body>
</html>
