<!DOCTYPE html>
<html>
  <head>
    <title>JobSchedule</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon' %>
  </head>

  <body>
  <h1><%= image_tag 'rentzelpumpclean_0'%></h1>
  <div>
    <%= yield %>
  </div>

  </body>
</html>
